.text-red{
            color: $red !important;
        }
.text-red-lighten-5{
            color: $red-lighten-5 !important;
        }
.text-red-lighten-4{
            color: $red-lighten-4 !important;
        }
.text-red-lighten-3{
            color: $red-lighten-3 !important;
        }
.text-red-lighten-2{
            color: $red-lighten-2 !important;
        }
.text-red-lighten-1{
            color: $red-lighten-1 !important;
        }
.text-red-darken-1{
            color: $red-darken-1 !important;
        }
.text-red-darken-2{
            color: $red-darken-2 !important;
        }
.text-red-darken-3{
            color: $red-darken-3 !important;
        }
.text-red-darken-4{
            color: $red-darken-4 !important;
        }
.text-red-accent-1{
            color: $red-accent-1 !important;
        }
.text-red-accent-2{
            color: $red-accent-2 !important;
        }
.text-red-accent-3{
            color: $red-accent-3 !important;
        }
.text-red-accent-4{
            color: $red-accent-4 !important;
        }
.text-pink{
            color: $pink !important;
        }
.text-pink-lighten-5{
            color: $pink-lighten-5 !important;
        }
.text-pink-lighten-4{
            color: $pink-lighten-4 !important;
        }
.text-pink-lighten-3{
            color: $pink-lighten-3 !important;
        }
.text-pink-lighten-2{
            color: $pink-lighten-2 !important;
        }
.text-pink-lighten-1{
            color: $pink-lighten-1 !important;
        }
.text-pink-darken-1{
            color: $pink-darken-1 !important;
        }
.text-pink-darken-2{
            color: $pink-darken-2 !important;
        }
.text-pink-darken-3{
            color: $pink-darken-3 !important;
        }
.text-pink-darken-4{
            color: $pink-darken-4 !important;
        }
.text-pink-accent-1{
            color: $pink-accent-1 !important;
        }
.text-pink-accent-2{
            color: $pink-accent-2 !important;
        }
.text-pink-accent-3{
            color: $pink-accent-3 !important;
        }
.text-pink-accent-4{
            color: $pink-accent-4 !important;
        }
.text-purple{
            color: $purple !important;
        }
.text-purple-lighten-5{
            color: $purple-lighten-5 !important;
        }
.text-purple-lighten-4{
            color: $purple-lighten-4 !important;
        }
.text-purple-lighten-3{
            color: $purple-lighten-3 !important;
        }
.text-purple-lighten-2{
            color: $purple-lighten-2 !important;
        }
.text-purple-lighten-1{
            color: $purple-lighten-1 !important;
        }
.text-purple-darken-1{
            color: $purple-darken-1 !important;
        }
.text-purple-darken-2{
            color: $purple-darken-2 !important;
        }
.text-purple-darken-3{
            color: $purple-darken-3 !important;
        }
.text-purple-darken-4{
            color: $purple-darken-4 !important;
        }
.text-purple-accent-1{
            color: $purple-accent-1 !important;
        }
.text-purple-accent-2{
            color: $purple-accent-2 !important;
        }
.text-purple-accent-3{
            color: $purple-accent-3 !important;
        }
.text-purple-accent-4{
            color: $purple-accent-4 !important;
        }
.text-deep-purple{
            color: $deep-purple !important;
        }
.text-deep-purple-lighten-5{
            color: $deep-purple-lighten-5 !important;
        }
.text-deep-purple-lighten-4{
            color: $deep-purple-lighten-4 !important;
        }
.text-deep-purple-lighten-3{
            color: $deep-purple-lighten-3 !important;
        }
.text-deep-purple-lighten-2{
            color: $deep-purple-lighten-2 !important;
        }
.text-deep-purple-lighten-1{
            color: $deep-purple-lighten-1 !important;
        }
.text-deep-purple-darken-1{
            color: $deep-purple-darken-1 !important;
        }
.text-deep-purple-darken-2{
            color: $deep-purple-darken-2 !important;
        }
.text-deep-purple-darken-3{
            color: $deep-purple-darken-3 !important;
        }
.text-deep-purple-darken-4{
            color: $deep-purple-darken-4 !important;
        }
.text-deep-purple-accent-1{
            color: $deep-purple-accent-1 !important;
        }
.text-deep-purple-accent-2{
            color: $deep-purple-accent-2 !important;
        }
.text-deep-purple-accent-3{
            color: $deep-purple-accent-3 !important;
        }
.text-deep-purple-accent-4{
            color: $deep-purple-accent-4 !important;
        }
.text-indigo{
            color: $indigo !important;
        }
.text-indigo-lighten-5{
            color: $indigo-lighten-5 !important;
        }
.text-indigo-lighten-4{
            color: $indigo-lighten-4 !important;
        }
.text-indigo-lighten-3{
            color: $indigo-lighten-3 !important;
        }
.text-indigo-lighten-2{
            color: $indigo-lighten-2 !important;
        }
.text-indigo-lighten-1{
            color: $indigo-lighten-1 !important;
        }
.text-indigo-darken-1{
            color: $indigo-darken-1 !important;
        }
.text-indigo-darken-2{
            color: $indigo-darken-2 !important;
        }
.text-indigo-darken-3{
            color: $indigo-darken-3 !important;
        }
.text-indigo-darken-4{
            color: $indigo-darken-4 !important;
        }
.text-indigo-accent-1{
            color: $indigo-accent-1 !important;
        }
.text-indigo-accent-2{
            color: $indigo-accent-2 !important;
        }
.text-indigo-accent-3{
            color: $indigo-accent-3 !important;
        }
.text-indigo-accent-4{
            color: $indigo-accent-4 !important;
        }
.text-blue{
            color: $blue !important;
        }
.text-blue-lighten-5{
            color: $blue-lighten-5 !important;
        }
.text-blue-lighten-4{
            color: $blue-lighten-4 !important;
        }
.text-blue-lighten-3{
            color: $blue-lighten-3 !important;
        }
.text-blue-lighten-2{
            color: $blue-lighten-2 !important;
        }
.text-blue-lighten-1{
            color: $blue-lighten-1 !important;
        }
.text-blue-darken-1{
            color: $blue-darken-1 !important;
        }
.text-blue-darken-2{
            color: $blue-darken-2 !important;
        }
.text-blue-darken-3{
            color: $blue-darken-3 !important;
        }
.text-blue-darken-4{
            color: $blue-darken-4 !important;
        }
.text-blue-accent-1{
            color: $blue-accent-1 !important;
        }
.text-blue-accent-2{
            color: $blue-accent-2 !important;
        }
.text-blue-accent-3{
            color: $blue-accent-3 !important;
        }
.text-blue-accent-4{
            color: $blue-accent-4 !important;
        }
.text-light-blue{
            color: $light-blue !important;
        }
.text-light-blue-lighten-5{
            color: $light-blue-lighten-5 !important;
        }
.text-light-blue-lighten-4{
            color: $light-blue-lighten-4 !important;
        }
.text-light-blue-lighten-3{
            color: $light-blue-lighten-3 !important;
        }
.text-light-blue-lighten-2{
            color: $light-blue-lighten-2 !important;
        }
.text-light-blue-lighten-1{
            color: $light-blue-lighten-1 !important;
        }
.text-light-blue-darken-1{
            color: $light-blue-darken-1 !important;
        }
.text-light-blue-darken-2{
            color: $light-blue-darken-2 !important;
        }
.text-light-blue-darken-3{
            color: $light-blue-darken-3 !important;
        }
.text-light-blue-darken-4{
            color: $light-blue-darken-4 !important;
        }
.text-light-blue-accent-1{
            color: $light-blue-accent-1 !important;
        }
.text-light-blue-accent-2{
            color: $light-blue-accent-2 !important;
        }
.text-light-blue-accent-3{
            color: $light-blue-accent-3 !important;
        }
.text-light-blue-accent-4{
            color: $light-blue-accent-4 !important;
        }
.text-cyan{
            color: $cyan !important;
        }
.text-cyan-lighten-5{
            color: $cyan-lighten-5 !important;
        }
.text-cyan-lighten-4{
            color: $cyan-lighten-4 !important;
        }
.text-cyan-lighten-3{
            color: $cyan-lighten-3 !important;
        }
.text-cyan-lighten-2{
            color: $cyan-lighten-2 !important;
        }
.text-cyan-lighten-1{
            color: $cyan-lighten-1 !important;
        }
.text-cyan-darken-1{
            color: $cyan-darken-1 !important;
        }
.text-cyan-darken-2{
            color: $cyan-darken-2 !important;
        }
.text-cyan-darken-3{
            color: $cyan-darken-3 !important;
        }
.text-cyan-darken-4{
            color: $cyan-darken-4 !important;
        }
.text-cyan-accent-1{
            color: $cyan-accent-1 !important;
        }
.text-cyan-accent-2{
            color: $cyan-accent-2 !important;
        }
.text-cyan-accent-3{
            color: $cyan-accent-3 !important;
        }
.text-cyan-accent-4{
            color: $cyan-accent-4 !important;
        }
.text-teal{
            color: $teal !important;
        }
.text-teal-lighten-5{
            color: $teal-lighten-5 !important;
        }
.text-teal-lighten-4{
            color: $teal-lighten-4 !important;
        }
.text-teal-lighten-3{
            color: $teal-lighten-3 !important;
        }
.text-teal-lighten-2{
            color: $teal-lighten-2 !important;
        }
.text-teal-lighten-1{
            color: $teal-lighten-1 !important;
        }
.text-teal-darken-1{
            color: $teal-darken-1 !important;
        }
.text-teal-darken-2{
            color: $teal-darken-2 !important;
        }
.text-teal-darken-3{
            color: $teal-darken-3 !important;
        }
.text-teal-darken-4{
            color: $teal-darken-4 !important;
        }
.text-teal-accent-1{
            color: $teal-accent-1 !important;
        }
.text-teal-accent-2{
            color: $teal-accent-2 !important;
        }
.text-teal-accent-3{
            color: $teal-accent-3 !important;
        }
.text-teal-accent-4{
            color: $teal-accent-4 !important;
        }
.text-light-green{
            color: $light-green !important;
        }
.text-light-green-lighten-5{
            color: $light-green-lighten-5 !important;
        }
.text-light-green-lighten-4{
            color: $light-green-lighten-4 !important;
        }
.text-light-green-lighten-3{
            color: $light-green-lighten-3 !important;
        }
.text-light-green-lighten-2{
            color: $light-green-lighten-2 !important;
        }
.text-light-green-lighten-1{
            color: $light-green-lighten-1 !important;
        }
.text-light-green-darken-1{
            color: $light-green-darken-1 !important;
        }
.text-light-green-darken-2{
            color: $light-green-darken-2 !important;
        }
.text-light-green-darken-3{
            color: $light-green-darken-3 !important;
        }
.text-light-green-darken-4{
            color: $light-green-darken-4 !important;
        }
.text-light-green-accent-1{
            color: $light-green-accent-1 !important;
        }
.text-light-green-accent-2{
            color: $light-green-accent-2 !important;
        }
.text-light-green-accent-3{
            color: $light-green-accent-3 !important;
        }
.text-light-green-accent-4{
            color: $light-green-accent-4 !important;
        }
.text-lime{
            color: $lime !important;
        }
.text-lime-lighten-5{
            color: $lime-lighten-5 !important;
        }
.text-lime-lighten-4{
            color: $lime-lighten-4 !important;
        }
.text-lime-lighten-3{
            color: $lime-lighten-3 !important;
        }
.text-lime-lighten-2{
            color: $lime-lighten-2 !important;
        }
.text-lime-lighten-1{
            color: $lime-lighten-1 !important;
        }
.text-lime-darken-1{
            color: $lime-darken-1 !important;
        }
.text-lime-darken-2{
            color: $lime-darken-2 !important;
        }
.text-lime-darken-3{
            color: $lime-darken-3 !important;
        }
.text-lime-darken-4{
            color: $lime-darken-4 !important;
        }
.text-lime-accent-1{
            color: $lime-accent-1 !important;
        }
.text-lime-accent-2{
            color: $lime-accent-2 !important;
        }
.text-lime-accent-3{
            color: $lime-accent-3 !important;
        }
.text-lime-accent-4{
            color: $lime-accent-4 !important;
        }
.text-yellow{
            color: $yellow !important;
        }
.text-yellow-lighten-5{
            color: $yellow-lighten-5 !important;
        }
.text-yellow-lighten-4{
            color: $yellow-lighten-4 !important;
        }
.text-yellow-lighten-3{
            color: $yellow-lighten-3 !important;
        }
.text-yellow-lighten-2{
            color: $yellow-lighten-2 !important;
        }
.text-yellow-lighten-1{
            color: $yellow-lighten-1 !important;
        }
.text-yellow-darken-1{
            color: $yellow-darken-1 !important;
        }
.text-yellow-darken-2{
            color: $yellow-darken-2 !important;
        }
.text-yellow-darken-3{
            color: $yellow-darken-3 !important;
        }
.text-yellow-darken-4{
            color: $yellow-darken-4 !important;
        }
.text-yellow-accent-1{
            color: $yellow-accent-1 !important;
        }
.text-yellow-accent-2{
            color: $yellow-accent-2 !important;
        }
.text-yellow-accent-3{
            color: $yellow-accent-3 !important;
        }
.text-yellow-accent-4{
            color: $yellow-accent-4 !important;
        }
.text-orange{
            color: $orange !important;
        }
.text-orange-lighten-5{
            color: $orange-lighten-5 !important;
        }
.text-orange-lighten-4{
            color: $orange-lighten-4 !important;
        }
.text-orange-lighten-3{
            color: $orange-lighten-3 !important;
        }
.text-orange-lighten-2{
            color: $orange-lighten-2 !important;
        }
.text-orange-lighten-1{
            color: $orange-lighten-1 !important;
        }
.text-orange-darken-1{
            color: $orange-darken-1 !important;
        }
.text-orange-darken-2{
            color: $orange-darken-2 !important;
        }
.text-orange-darken-3{
            color: $orange-darken-3 !important;
        }
.text-orange-darken-4{
            color: $orange-darken-4 !important;
        }
.text-orange-accent-1{
            color: $orange-accent-1 !important;
        }
.text-orange-accent-2{
            color: $orange-accent-2 !important;
        }
.text-orange-accent-3{
            color: $orange-accent-3 !important;
        }
.text-orange-accent-4{
            color: $orange-accent-4 !important;
        }
.text-deep-orange{
            color: $deep-orange !important;
        }
.text-deep-orange-lighten-5{
            color: $deep-orange-lighten-5 !important;
        }
.text-deep-orange-lighten-4{
            color: $deep-orange-lighten-4 !important;
        }
.text-deep-orange-lighten-3{
            color: $deep-orange-lighten-3 !important;
        }
.text-deep-orange-lighten-2{
            color: $deep-orange-lighten-2 !important;
        }
.text-deep-orange-lighten-1{
            color: $deep-orange-lighten-1 !important;
        }
.text-deep-orange-darken-1{
            color: $deep-orange-darken-1 !important;
        }
.text-deep-orange-darken-2{
            color: $deep-orange-darken-2 !important;
        }
.text-deep-orange-darken-3{
            color: $deep-orange-darken-3 !important;
        }
.text-deep-orange-darken-4{
            color: $deep-orange-darken-4 !important;
        }
.text-deep-orange-accent-1{
            color: $deep-orange-accent-1 !important;
        }
.text-deep-orange-accent-2{
            color: $deep-orange-accent-2 !important;
        }
.text-deep-orange-accent-3{
            color: $deep-orange-accent-3 !important;
        }
.text-deep-orange-accent-4{
            color: $deep-orange-accent-4 !important;
        }
.text-brown{
            color: $brown !important;
        }
.text-brown-lighten-5{
            color: $brown-lighten-5 !important;
        }
.text-brown-lighten-4{
            color: $brown-lighten-4 !important;
        }
.text-brown-lighten-3{
            color: $brown-lighten-3 !important;
        }
.text-brown-lighten-2{
            color: $brown-lighten-2 !important;
        }
.text-brown-lighten-1{
            color: $brown-lighten-1 !important;
        }
.text-brown-darken-1{
            color: $brown-darken-1 !important;
        }
.text-brown-darken-2{
            color: $brown-darken-2 !important;
        }
.text-brown-darken-3{
            color: $brown-darken-3 !important;
        }
.text-brown-darken-4{
            color: $brown-darken-4 !important;
        }
.text-blue-grey{
            color: $blue-grey !important;
        }
.text-blue-grey-lighten-5{
            color: $blue-grey-lighten-5 !important;
        }
.text-blue-grey-lighten-4{
            color: $blue-grey-lighten-4 !important;
        }
.text-blue-grey-lighten-3{
            color: $blue-grey-lighten-3 !important;
        }
.text-blue-grey-lighten-2{
            color: $blue-grey-lighten-2 !important;
        }
.text-blue-grey-lighten-1{
            color: $blue-grey-lighten-1 !important;
        }
.text-blue-grey-darken-1{
            color: $blue-grey-darken-1 !important;
        }
.text-blue-grey-darken-2{
            color: $blue-grey-darken-2 !important;
        }
.text-blue-grey-darken-3{
            color: $blue-grey-darken-3 !important;
        }
.text-blue-grey-darken-4{
            color: $blue-grey-darken-4 !important;
        }
.text-grey{
            color: $grey !important;
        }
.text-grey-lighten-5{
            color: $grey-lighten-5 !important;
        }
.text-grey-lighten-4{
            color: $grey-lighten-4 !important;
        }
.text-grey-lighten-3{
            color: $grey-lighten-3 !important;
        }
.text-grey-lighten-2{
            color: $grey-lighten-2 !important;
        }
.text-grey-lighten-1{
            color: $grey-lighten-1 !important;
        }
.text-grey-darken-1{
            color: $grey-darken-1 !important;
        }
.text-grey-darken-2{
            color: $grey-darken-2 !important;
        }
.text-grey-darken-3{
            color: $grey-darken-3 !important;
        }
.text-grey-darken-4{
            color: $grey-darken-4 !important;
        }
