@import '../../styles/color';
.rf-menu {
    box-sizing: border-box;
    display: flex;
    min-height: 400px;
    &.is-vertical{
        flex-direction: column;
        min-width: 240px;
        width: 240px;
        border-right: 1px solid $grey-lighten-2;
    }
}
