$red: #F44336 !default;
$red-lighten-5: #FFEBEE !default;
$red-lighten-4: #FFCDD2 !default;
$red-lighten-3: #EF9A9A !default;
$red-lighten-2: #E57373 !default;
$red-lighten-1: #EF5350 !default;
$red-darken-1: #E53935 !default;
$red-darken-2: #D32F2F !default;
$red-darken-3: #C62828 !default;
$red-darken-4: #B71C1C !default;
$red-accent-1: #FF8A80 !default;
$red-accent-2: #FF5252 !default;
$red-accent-3: #FF1744 !default;
$red-accent-4: #D50000 !default;

$pink : #E91E63 !default;
$pink-lighten-5: #FCE4EC !default;
$pink-lighten-4: #F8BBD0 !default;
$pink-lighten-3: #F48FB1 !default;
$pink-lighten-2: #F06292 !default;
$pink-lighten-1: #EC407A !default;
$pink-darken-1: #D81B60 !default;
$pink-darken-2: #C2185B !default;
$pink-darken-3: #AD1457 !default;
$pink-darken-4: #880E4F !default;
$pink-accent-1: #FF80AB !default;
$pink-accent-2: #FF4081 !default;
$pink-accent-3: #F50057 !default;
$pink-accent-4: #C51162 !default;

$purple : #9C27B0 !default;
$purple-lighten-5: #F3E5F5 !default;
$purple-lighten-4: #E1BEE7 !default;
$purple-lighten-3: #CE93D8 !default;
$purple-lighten-2: #BA68C8 !default;
$purple-lighten-1: #AB47BC !default;
$purple-darken-1: #8E24AA !default;
$purple-darken-2: #7B1FA2 !default;
$purple-darken-3: #6A1B9A !default;
$purple-darken-4: #4A148C !default;
$purple-accent-1: #EA80FC !default;
$purple-accent-2: #E040FB !default;
$purple-accent-3: #D500F9 !default;
$purple-accent-4: #AA00FF !default;

$deep-purple : #673AB7 !default;
$deep-purple-lighten-5: #EDE7F6 !default;
$deep-purple-lighten-4: #D1C4E9 !default;
$deep-purple-lighten-3: #B39DDB !default;
$deep-purple-lighten-2: #9575CD !default;
$deep-purple-lighten-1: #7E57C2 !default;
$deep-purple-darken-1: #5E35B1 !default;
$deep-purple-darken-2: #512DA8 !default;
$deep-purple-darken-3: #4527A0 !default;
$deep-purple-darken-4: #311B92 !default;
$deep-purple-accent-1: #B388FF !default;
$deep-purple-accent-2: #7C4DFF !default;
$deep-purple-accent-3: #651FFF !default;
$deep-purple-accent-4: #6200EA !default;

$indigo : #3F51B5 !default;
$indigo-lighten-5: #E8EAF6 !default;
$indigo-lighten-4: #C5CAE9 !default;
$indigo-lighten-3: #9FA8DA !default;
$indigo-lighten-2: #7986CB !default;
$indigo-lighten-1: #5C6BC0 !default;
$indigo-darken-1: #3949AB !default;
$indigo-darken-2: #303F9F !default;
$indigo-darken-3: #283593 !default;
$indigo-darken-4: #1A237E !default;
$indigo-accent-1: #8C9EFF !default;
$indigo-accent-2: #536DFE !default;
$indigo-accent-3: #3D5AFE !default;
$indigo-accent-4: #304FFE !default;

$blue : #2196F3 !default;
$blue-lighten-5: #E3F2FD !default;
$blue-lighten-4: #BBDEFB !default;
$blue-lighten-3: #90CAF9 !default;
$blue-lighten-2: #64B5F6 !default;
$blue-lighten-1: #42A5F5 !default;
$blue-darken-1: #1E88E5 !default;
$blue-darken-2: #1976D2 !default;
$blue-darken-3: #1565C0 !default;
$blue-darken-4: #0D47A1 !default;
$blue-accent-1: #82B1FF !default;
$blue-accent-2: #448AFF !default;
$blue-accent-3: #2979FF !default;
$blue-accent-4: #2962FF !default;

$light-blue : #03A9F4 !default;
$light-blue-lighten-5: #E1F5FE !default;
$light-blue-lighten-4: #B3E5FC !default;
$light-blue-lighten-3: #81D4FA !default;
$light-blue-lighten-2: #4FC3F7 !default;
$light-blue-lighten-1: #29B6F6 !default;
$light-blue-darken-1: #039BE5 !default;
$light-blue-darken-2: #0288D1 !default;
$light-blue-darken-3: #0277BD !default;
$light-blue-darken-4: #01579B !default;
$light-blue-accent-1: #80D8FF !default;
$light-blue-accent-2: #40C4FF !default;
$light-blue-accent-3: #00B0FF !default;
$light-blue-accent-4: #0091EA !default;


$cyan : #00BCD4 !default;
$cyan-lighten-5: #E0F7FA !default;
$cyan-lighten-4: #B2EBF2 !default;
$cyan-lighten-3: #80DEEA !default;
$cyan-lighten-2: #4DD0E1 !default;
$cyan-lighten-1: #26C6DA !default;
$cyan-darken-1: #00ACC1 !default;
$cyan-darken-2: #0097A7 !default;
$cyan-darken-3: #00838F !default;
$cyan-darken-4: #006064 !default;
$cyan-accent-1: #84FFFF !default;
$cyan-accent-2: #18FFFF !default;
$cyan-accent-3: #00E5FF !default;
$cyan-accent-4: #00B8D4 !default;


$teal : #009688 !default;
$teal-lighten-5: #E0F2F1 !default;
$teal-lighten-4: #B2DFDB !default;
$teal-lighten-3: #80CBC4 !default;
$teal-lighten-2: #4DB6AC !default;
$teal-lighten-1: #26A69A !default;
$teal-darken-1: #00897B !default;
$teal-darken-2: #00796B !default;
$teal-darken-3: #00695C !default;
$teal-darken-4: #004D40 !default;
$teal-accent-1: #A7FFEB !default;
$teal-accent-2: #64FFDA !default;
$teal-accent-3: #1DE9B6 !default;
$teal-accent-4: #00BFA5 !default;

$light-green : #8BC34A !default;
$light-green-lighten-5: #F1F8E9 !default;
$light-green-lighten-4: #DCEDC8 !default;
$light-green-lighten-3: #C5E1A5 !default;
$light-green-lighten-2: #AED581 !default;
$light-green-lighten-1: #9CCC65 !default;
$light-green-darken-1: #7CB342 !default;
$light-green-darken-2: #689F38 !default;
$light-green-darken-3: #558B2F !default;
$light-green-darken-4: #33691E !default;
$light-green-accent-1: #CCFF90 !default;
$light-green-accent-2: #B2FF59 !default;
$light-green-accent-3: #76FF03 !default;
$light-green-accent-4: #64DD17 !default;

$lime : #CDDC39 !default;
$lime-lighten-5: #F9FBE7 !default;
$lime-lighten-4: #F0F4C3 !default;
$lime-lighten-3: #E6EE9C !default;
$lime-lighten-2: #DCE775 !default;
$lime-lighten-1: #D4E157 !default;
$lime-darken-1: #C0CA33 !default;
$lime-darken-2: #AFB42B !default;
$lime-darken-3: #9E9D24 !default;
$lime-darken-4: #827717 !default;
$lime-accent-1: #F4FF81 !default;
$lime-accent-2: #EEFF41 !default;
$lime-accent-3: #C6FF00 !default;
$lime-accent-4: #AEEA00 !default;

$yellow : #FFEB3B !default;
$yellow-lighten-5: #FFFDE7 !default;
$yellow-lighten-4: #FFF9C4 !default;
$yellow-lighten-3: #FFF59D !default;
$yellow-lighten-2: #FFF176 !default;
$yellow-lighten-1: #FFEE58 !default;
$yellow-darken-1: #FDD835 !default;
$yellow-darken-2: #FBC02D !default;
$yellow-darken-3: #F9A825 !default;
$yellow-darken-4: #F57F17 !default;
$yellow-accent-1: #FFFF8D !default;
$yellow-accent-2: #FFFF00 !default;
$yellow-accent-3: #FFEA00 !default;
$yellow-accent-4: #FFD600 !default;

$orange : #FF9800 !default;
$orange-lighten-5: #FFF3E0 !default;
$orange-lighten-4: #FFE0B2 !default;
$orange-lighten-3: #FFCC80 !default;
$orange-lighten-2: #FFB74D !default;
$orange-lighten-1: #FFA726 !default;
$orange-darken-1: #FB8C00 !default;
$orange-darken-2: #F57C00 !default;
$orange-darken-3: #EF6C00 !default;
$orange-darken-4: #E65100 !default;
$orange-accent-1: #FFD180 !default;
$orange-accent-2: #FFAB40 !default;
$orange-accent-3: #FF9100 !default;
$orange-accent-4: #FF6D00 !default;

$deep-orange : #FF5722 !default;
$deep-orange-lighten-5: #FBE9E7 !default;
$deep-orange-lighten-4: #FFCCBC !default;
$deep-orange-lighten-3: #FFAB91 !default;
$deep-orange-lighten-2: #FF8A65 !default;
$deep-orange-lighten-1: #FF7043 !default;
$deep-orange-darken-1: #F4511E !default;
$deep-orange-darken-2: #E64A19 !default;
$deep-orange-darken-3: #D84315 !default;
$deep-orange-darken-4: #BF360C !default;
$deep-orange-accent-1: #FF9E80 !default;
$deep-orange-accent-2: #FF6E40 !default;
$deep-orange-accent-3: #FF3D00 !default;
$deep-orange-accent-4: #DD2C00 !default;

$brown : #795548 !default;
$brown-lighten-5: #EFEBE9 !default;
$brown-lighten-4: #D7CCC8 !default;
$brown-lighten-3: #BCAAA4 !default;
$brown-lighten-2: #A1887F !default;
$brown-lighten-1: #8D6E63 !default;
$brown-darken-1: #6D4C41 !default;
$brown-darken-2: #5D4037 !default;
$brown-darken-3: #4E342E !default;
$brown-darken-4: #3E2723 !default;

$blue-grey : #607D8B !default;
$blue-grey-lighten-5: #ECEFF1 !default;
$blue-grey-lighten-4: #CFD8DC !default;
$blue-grey-lighten-3: #B0BEC5 !default;
$blue-grey-lighten-2: #90A4AE !default;
$blue-grey-lighten-1: #78909C !default;
$blue-grey-darken-1: #546E7A !default;
$blue-grey-darken-2: #455A64 !default;
$blue-grey-darken-3: #37474F !default;
$blue-grey-darken-4: #263238 !default;

$grey : #9E9E9E !default;
$grey-lighten-5: #FAFAFA !default;
$grey-lighten-4: #F5F5F5 !default;
$grey-lighten-3: #EEEEEE !default;
$grey-lighten-2: #E0E0E0 !default;
$grey-lighten-1: #BDBDBD !default;
$grey-darken-1: #757575 !default;
$grey-darken-2: #616161 !default;
$grey-darken-3: #424242 !default;
$grey-darken-4: #212121 !default;

$white: #ffffff !default;

$black: #000000 !default;

$primary: $blue;
$secondary: $grey;
$success: $light-green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $grey-lighten-1;
$dark: $grey-darken-4;
