@import 'color';
.red {
  background-color: $red !important;
}
.red-lighten-5 {
  background-color: $red-lighten-5 !important;
}
.red-lighten-4 {
  background-color: $red-lighten-4 !important;
}
.red-lighten-3 {
  background-color: $red-lighten-3 !important;
}
.red-lighten-2 {
  background-color: $red-lighten-2 !important;
}
.red-lighten-1 {
  background-color: $red-lighten-1 !important;
}
.red-darken-1 {
  background-color: $red-darken-1 !important;
}
.red-darken-2 {
  background-color: $red-darken-2 !important;
}
.red-darken-3 {
  background-color: $red-darken-3 !important;
}
.red-darken-4 {
  background-color: $red-darken-4 !important;
}
.red-accent-1 {
  background-color: $red-accent-1 !important;
}
.red-accent-2 {
  background-color: $red-accent-2 !important;
}
.red-accent-3 {
  background-color: $red-accent-3 !important;
}
.red-accent-4 {
  background-color: $red-accent-4 !important;
}
.pink {
  background-color: $pink !important;
}
.pink-lighten-5 {
  background-color: $pink-lighten-5 !important;
}
.pink-lighten-4 {
  background-color: $pink-lighten-4 !important;
}
.pink-lighten-3 {
  background-color: $pink-lighten-3 !important;
}
.pink-lighten-2 {
  background-color: $pink-lighten-2 !important;
}
.pink-lighten-1 {
  background-color: $pink-lighten-1 !important;
}
.pink-darken-1 {
  background-color: $pink-darken-1 !important;
}
.pink-darken-2 {
  background-color: $pink-darken-2 !important;
}
.pink-darken-3 {
  background-color: $pink-darken-3 !important;
}
.pink-darken-4 {
  background-color: $pink-darken-4 !important;
}
.pink-accent-1 {
  background-color: $pink-accent-1 !important;
}
.pink-accent-2 {
  background-color: $pink-accent-2 !important;
}
.pink-accent-3 {
  background-color: $pink-accent-3 !important;
}
.pink-accent-4 {
  background-color: $pink-accent-4 !important;
}
.purple {
  background-color: $purple !important;
}
.purple-lighten-5 {
  background-color: $purple-lighten-5 !important;
}
.purple-lighten-4 {
  background-color: $purple-lighten-4 !important;
}
.purple-lighten-3 {
  background-color: $purple-lighten-3 !important;
}
.purple-lighten-2 {
  background-color: $purple-lighten-2 !important;
}
.purple-lighten-1 {
  background-color: $purple-lighten-1 !important;
}
.purple-darken-1 {
  background-color: $purple-darken-1 !important;
}
.purple-darken-2 {
  background-color: $purple-darken-2 !important;
}
.purple-darken-3 {
  background-color: $purple-darken-3 !important;
}
.purple-darken-4 {
  background-color: $purple-darken-4 !important;
}
.purple-accent-1 {
  background-color: $purple-accent-1 !important;
}
.purple-accent-2 {
  background-color: $purple-accent-2 !important;
}
.purple-accent-3 {
  background-color: $purple-accent-3 !important;
}
.purple-accent-4 {
  background-color: $purple-accent-4 !important;
}
.deep-purple {
  background-color: $deep-purple !important;
}
.deep-purple-lighten-5 {
  background-color: $deep-purple-lighten-5 !important;
}
.deep-purple-lighten-4 {
  background-color: $deep-purple-lighten-4 !important;
}
.deep-purple-lighten-3 {
  background-color: $deep-purple-lighten-3 !important;
}
.deep-purple-lighten-2 {
  background-color: $deep-purple-lighten-2 !important;
}
.deep-purple-lighten-1 {
  background-color: $deep-purple-lighten-1 !important;
}
.deep-purple-darken-1 {
  background-color: $deep-purple-darken-1 !important;
}
.deep-purple-darken-2 {
  background-color: $deep-purple-darken-2 !important;
}
.deep-purple-darken-3 {
  background-color: $deep-purple-darken-3 !important;
}
.deep-purple-darken-4 {
  background-color: $deep-purple-darken-4 !important;
}
.deep-purple-accent-1 {
  background-color: $deep-purple-accent-1 !important;
}
.deep-purple-accent-2 {
  background-color: $deep-purple-accent-2 !important;
}
.deep-purple-accent-3 {
  background-color: $deep-purple-accent-3 !important;
}
.deep-purple-accent-4 {
  background-color: $deep-purple-accent-4 !important;
}
.indigo {
  background-color: $indigo !important;
}
.indigo-lighten-5 {
  background-color: $indigo-lighten-5 !important;
}
.indigo-lighten-4 {
  background-color: $indigo-lighten-4 !important;
}
.indigo-lighten-3 {
  background-color: $indigo-lighten-3 !important;
}
.indigo-lighten-2 {
  background-color: $indigo-lighten-2 !important;
}
.indigo-lighten-1 {
  background-color: $indigo-lighten-1 !important;
}
.indigo-darken-1 {
  background-color: $indigo-darken-1 !important;
}
.indigo-darken-2 {
  background-color: $indigo-darken-2 !important;
}
.indigo-darken-3 {
  background-color: $indigo-darken-3 !important;
}
.indigo-darken-4 {
  background-color: $indigo-darken-4 !important;
}
.indigo-accent-1 {
  background-color: $indigo-accent-1 !important;
}
.indigo-accent-2 {
  background-color: $indigo-accent-2 !important;
}
.indigo-accent-3 {
  background-color: $indigo-accent-3 !important;
}
.indigo-accent-4 {
  background-color: $indigo-accent-4 !important;
}
.blue {
  background-color: $blue !important;
}
.blue-lighten-5 {
  background-color: $blue-lighten-5 !important;
}
.blue-lighten-4 {
  background-color: $blue-lighten-4 !important;
}
.blue-lighten-3 {
  background-color: $blue-lighten-3 !important;
}
.blue-lighten-2 {
  background-color: $blue-lighten-2 !important;
}
.blue-lighten-1 {
  background-color: $blue-lighten-1 !important;
}
.blue-darken-1 {
  background-color: $blue-darken-1 !important;
}
.blue-darken-2 {
  background-color: $blue-darken-2 !important;
}
.blue-darken-3 {
  background-color: $blue-darken-3 !important;
}
.blue-darken-4 {
  background-color: $blue-darken-4 !important;
}
.blue-accent-1 {
  background-color: $blue-accent-1 !important;
}
.blue-accent-2 {
  background-color: $blue-accent-2 !important;
}
.blue-accent-3 {
  background-color: $blue-accent-3 !important;
}
.blue-accent-4 {
  background-color: $blue-accent-4 !important;
}
.light-blue {
  background-color: $light-blue !important;
}
.light-blue-lighten-5 {
  background-color: $light-blue-lighten-5 !important;
}
.light-blue-lighten-4 {
  background-color: $light-blue-lighten-4 !important;
}
.light-blue-lighten-3 {
  background-color: $light-blue-lighten-3 !important;
}
.light-blue-lighten-2 {
  background-color: $light-blue-lighten-2 !important;
}
.light-blue-lighten-1 {
  background-color: $light-blue-lighten-1 !important;
}
.light-blue-darken-1 {
  background-color: $light-blue-darken-1 !important;
}
.light-blue-darken-2 {
  background-color: $light-blue-darken-2 !important;
}
.light-blue-darken-3 {
  background-color: $light-blue-darken-3 !important;
}
.light-blue-darken-4 {
  background-color: $light-blue-darken-4 !important;
}
.light-blue-accent-1 {
  background-color: $light-blue-accent-1 !important;
}
.light-blue-accent-2 {
  background-color: $light-blue-accent-2 !important;
}
.light-blue-accent-3 {
  background-color: $light-blue-accent-3 !important;
}
.light-blue-accent-4 {
  background-color: $light-blue-accent-4 !important;
}
.cyan {
  background-color: $cyan !important;
}
.cyan-lighten-5 {
  background-color: $cyan-lighten-5 !important;
}
.cyan-lighten-4 {
  background-color: $cyan-lighten-4 !important;
}
.cyan-lighten-3 {
  background-color: $cyan-lighten-3 !important;
}
.cyan-lighten-2 {
  background-color: $cyan-lighten-2 !important;
}
.cyan-lighten-1 {
  background-color: $cyan-lighten-1 !important;
}
.cyan-darken-1 {
  background-color: $cyan-darken-1 !important;
}
.cyan-darken-2 {
  background-color: $cyan-darken-2 !important;
}
.cyan-darken-3 {
  background-color: $cyan-darken-3 !important;
}
.cyan-darken-4 {
  background-color: $cyan-darken-4 !important;
}
.cyan-accent-1 {
  background-color: $cyan-accent-1 !important;
}
.cyan-accent-2 {
  background-color: $cyan-accent-2 !important;
}
.cyan-accent-3 {
  background-color: $cyan-accent-3 !important;
}
.cyan-accent-4 {
  background-color: $cyan-accent-4 !important;
}
.teal {
  background-color: $teal !important;
}
.teal-lighten-5 {
  background-color: $teal-lighten-5 !important;
}
.teal-lighten-4 {
  background-color: $teal-lighten-4 !important;
}
.teal-lighten-3 {
  background-color: $teal-lighten-3 !important;
}
.teal-lighten-2 {
  background-color: $teal-lighten-2 !important;
}
.teal-lighten-1 {
  background-color: $teal-lighten-1 !important;
}
.teal-darken-1 {
  background-color: $teal-darken-1 !important;
}
.teal-darken-2 {
  background-color: $teal-darken-2 !important;
}
.teal-darken-3 {
  background-color: $teal-darken-3 !important;
}
.teal-darken-4 {
  background-color: $teal-darken-4 !important;
}
.teal-accent-1 {
  background-color: $teal-accent-1 !important;
}
.teal-accent-2 {
  background-color: $teal-accent-2 !important;
}
.teal-accent-3 {
  background-color: $teal-accent-3 !important;
}
.teal-accent-4 {
  background-color: $teal-accent-4 !important;
}
.light-green {
  background-color: $light-green !important;
}
.light-green-lighten-5 {
  background-color: $light-green-lighten-5 !important;
}
.light-green-lighten-4 {
  background-color: $light-green-lighten-4 !important;
}
.light-green-lighten-3 {
  background-color: $light-green-lighten-3 !important;
}
.light-green-lighten-2 {
  background-color: $light-green-lighten-2 !important;
}
.light-green-lighten-1 {
  background-color: $light-green-lighten-1 !important;
}
.light-green-darken-1 {
  background-color: $light-green-darken-1 !important;
}
.light-green-darken-2 {
  background-color: $light-green-darken-2 !important;
}
.light-green-darken-3 {
  background-color: $light-green-darken-3 !important;
}
.light-green-darken-4 {
  background-color: $light-green-darken-4 !important;
}
.light-green-accent-1 {
  background-color: $light-green-accent-1 !important;
}
.light-green-accent-2 {
  background-color: $light-green-accent-2 !important;
}
.light-green-accent-3 {
  background-color: $light-green-accent-3 !important;
}
.light-green-accent-4 {
  background-color: $light-green-accent-4 !important;
}
.lime {
  background-color: $lime !important;
}
.lime-lighten-5 {
  background-color: $lime-lighten-5 !important;
}
.lime-lighten-4 {
  background-color: $lime-lighten-4 !important;
}
.lime-lighten-3 {
  background-color: $lime-lighten-3 !important;
}
.lime-lighten-2 {
  background-color: $lime-lighten-2 !important;
}
.lime-lighten-1 {
  background-color: $lime-lighten-1 !important;
}
.lime-darken-1 {
  background-color: $lime-darken-1 !important;
}
.lime-darken-2 {
  background-color: $lime-darken-2 !important;
}
.lime-darken-3 {
  background-color: $lime-darken-3 !important;
}
.lime-darken-4 {
  background-color: $lime-darken-4 !important;
}
.lime-accent-1 {
  background-color: $lime-accent-1 !important;
}
.lime-accent-2 {
  background-color: $lime-accent-2 !important;
}
.lime-accent-3 {
  background-color: $lime-accent-3 !important;
}
.lime-accent-4 {
  background-color: $lime-accent-4 !important;
}
.yellow {
  background-color: $yellow !important;
}
.yellow-lighten-5 {
  background-color: $yellow-lighten-5 !important;
}
.yellow-lighten-4 {
  background-color: $yellow-lighten-4 !important;
}
.yellow-lighten-3 {
  background-color: $yellow-lighten-3 !important;
}
.yellow-lighten-2 {
  background-color: $yellow-lighten-2 !important;
}
.yellow-lighten-1 {
  background-color: $yellow-lighten-1 !important;
}
.yellow-darken-1 {
  background-color: $yellow-darken-1 !important;
}
.yellow-darken-2 {
  background-color: $yellow-darken-2 !important;
}
.yellow-darken-3 {
  background-color: $yellow-darken-3 !important;
}
.yellow-darken-4 {
  background-color: $yellow-darken-4 !important;
}
.yellow-accent-1 {
  background-color: $yellow-accent-1 !important;
}
.yellow-accent-2 {
  background-color: $yellow-accent-2 !important;
}
.yellow-accent-3 {
  background-color: $yellow-accent-3 !important;
}
.yellow-accent-4 {
  background-color: $yellow-accent-4 !important;
}
.orange {
  background-color: $orange !important;
}
.orange-lighten-5 {
  background-color: $orange-lighten-5 !important;
}
.orange-lighten-4 {
  background-color: $orange-lighten-4 !important;
}
.orange-lighten-3 {
  background-color: $orange-lighten-3 !important;
}
.orange-lighten-2 {
  background-color: $orange-lighten-2 !important;
}
.orange-lighten-1 {
  background-color: $orange-lighten-1 !important;
}
.orange-darken-1 {
  background-color: $orange-darken-1 !important;
}
.orange-darken-2 {
  background-color: $orange-darken-2 !important;
}
.orange-darken-3 {
  background-color: $orange-darken-3 !important;
}
.orange-darken-4 {
  background-color: $orange-darken-4 !important;
}
.orange-accent-1 {
  background-color: $orange-accent-1 !important;
}
.orange-accent-2 {
  background-color: $orange-accent-2 !important;
}
.orange-accent-3 {
  background-color: $orange-accent-3 !important;
}
.orange-accent-4 {
  background-color: $orange-accent-4 !important;
}
.deep-orange {
  background-color: $deep-orange !important;
}
.deep-orange-lighten-5 {
  background-color: $deep-orange-lighten-5 !important;
}
.deep-orange-lighten-4 {
  background-color: $deep-orange-lighten-4 !important;
}
.deep-orange-lighten-3 {
  background-color: $deep-orange-lighten-3 !important;
}
.deep-orange-lighten-2 {
  background-color: $deep-orange-lighten-2 !important;
}
.deep-orange-lighten-1 {
  background-color: $deep-orange-lighten-1 !important;
}
.deep-orange-darken-1 {
  background-color: $deep-orange-darken-1 !important;
}
.deep-orange-darken-2 {
  background-color: $deep-orange-darken-2 !important;
}
.deep-orange-darken-3 {
  background-color: $deep-orange-darken-3 !important;
}
.deep-orange-darken-4 {
  background-color: $deep-orange-darken-4 !important;
}
.deep-orange-accent-1 {
  background-color: $deep-orange-accent-1 !important;
}
.deep-orange-accent-2 {
  background-color: $deep-orange-accent-2 !important;
}
.deep-orange-accent-3 {
  background-color: $deep-orange-accent-3 !important;
}
.deep-orange-accent-4 {
  background-color: $deep-orange-accent-4 !important;
}
.brown {
  background-color: $brown !important;
}
.brown-lighten-5 {
  background-color: $brown-lighten-5 !important;
}
.brown-lighten-4 {
  background-color: $brown-lighten-4 !important;
}
.brown-lighten-3 {
  background-color: $brown-lighten-3 !important;
}
.brown-lighten-2 {
  background-color: $brown-lighten-2 !important;
}
.brown-lighten-1 {
  background-color: $brown-lighten-1 !important;
}
.brown-darken-1 {
  background-color: $brown-darken-1 !important;
}
.brown-darken-2 {
  background-color: $brown-darken-2 !important;
}
.brown-darken-3 {
  background-color: $brown-darken-3 !important;
}
.brown-darken-4 {
  background-color: $brown-darken-4 !important;
}
.blue-grey {
  background-color: $blue-grey !important;
}
.blue-grey-lighten-5 {
  background-color: $blue-grey-lighten-5 !important;
}
.blue-grey-lighten-4 {
  background-color: $blue-grey-lighten-4 !important;
}
.blue-grey-lighten-3 {
  background-color: $blue-grey-lighten-3 !important;
}
.blue-grey-lighten-2 {
  background-color: $blue-grey-lighten-2 !important;
}
.blue-grey-lighten-1 {
  background-color: $blue-grey-lighten-1 !important;
}
.blue-grey-darken-1 {
  background-color: $blue-grey-darken-1 !important;
}
.blue-grey-darken-2 {
  background-color: $blue-grey-darken-2 !important;
}
.blue-grey-darken-3 {
  background-color: $blue-grey-darken-3 !important;
}
.blue-grey-darken-4 {
  background-color: $blue-grey-darken-4 !important;
}
.grey {
  background-color: $grey !important;
}
.grey-lighten-5 {
  background-color: $grey-lighten-5 !important;
}
.grey-lighten-4 {
  background-color: $grey-lighten-4 !important;
}
.grey-lighten-3 {
  background-color: $grey-lighten-3 !important;
}
.grey-lighten-2 {
  background-color: $grey-lighten-2 !important;
}
.grey-lighten-1 {
  background-color: $grey-lighten-1 !important;
}
.grey-darken-1 {
  background-color: $grey-darken-1 !important;
}
.grey-darken-2 {
  background-color: $grey-darken-2 !important;
}
.grey-darken-3 {
  background-color: $grey-darken-3 !important;
}
.grey-darken-4 {
  background-color: $grey-darken-4 !important;
}
