@import '../../styles/color';
@import '../../styles/font';

.rf-message{
  min-width: 380px;
  box-sizing: border-box;
  border-radius: 4px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 15px 15px 15px 20px;
  font-size: $font-size-subtitle-2;
}

.rf-message-info{
  color: $grey-darken-1;
  background-color: #edf2fc;
}
